@import "~bootstrap/scss/bootstrap"
@import "./fonts"
@import "./reset"

$enable-responsive-font-sizes: true

$white: #ffffff
$black: #000000
$accent-orange: #EE3D1B
$accent-red: #D52047

body
   font-family: 'Lato', sans-serif
   +rfs(14)
   color: $white

h1
    font-family: Lato
    font-weight: bold
    +rfs(72)
    line-height: 86px
    letter-spacing: 0.05em
    text-transform: uppercase

h2
    font-weight: bold
    +rfs(36)
    line-height: 43px
    color: $black

h3
    font-weight: bold
    +rfs(18)
    line-height: 22px
    text-align: center
    color: $black


/* main screen */

.main
    padding: 75px 0 187px 0
    background: url('../img/MainBG.png') no-repeat center top / cover

.logo

    &__img

    &__name
        font-style: normal
        font-weight: bold
        +rfs(18)
        line-height: 22px
        align-items: center
        text-transform: uppercase
        margin: auto 0 auto 7px

.nav
    align-items: center

    &__link
        font-family: Lato
        font-style: normal
        font-weight: normal
        +rfs(14)
        line-height: 17px
        text-transform: uppercase
        margin: 5px 16px auto 1px
        color: $white
        box-sizing: border-box

        &:hover
            text-decoration: none
            font-weight: bold
            color: $white

select
    background: transparent
    outline: none
    border: none
    text-decoration: none
    color: $white
    width: 50px

.selector
    &__img
        margin-right: 11px
        width: 40px
        height: 40px

    &__ghost
        width: 100px
        height: 40px
        background: transparent
        border: 1px solid $white
        border-radius: 6px
        color: $white
        text-transform: uppercase
        margin-left: 25px

        &:hover
            text-decoration: none
        &:active
            text-decoration: none

.offer
    margin-top: 140px

    &__title
        margin-bottom: 39px
    &__desc
        width: 450px
        margin: 0 auto
        font-style: normal
        +rfs(24)
        line-height: 150%
        text-align: center

    &__cta
        width: 160px
        height: 50px
        background: $white
        border-radius: 6px
        color: $accent-red
        text-transform: uppercase
        margin-left: 25px
        margin-top: 39px

        &:hover
            text-decoration: none


/* preview screen */

.preview
    margin: 95px 0

    &__info
        margin-top: 55px
        width: 445px

    &__title
        margin-bottom: 35px

    &__desc
        color: $black
        font-weight: normal
        +rfs(14)
        line-height: 140%
        margin-bottom: 30px

    &__link
        color: $accent-red

    &__video
        position: relative
        border-radius: 5px
        height: 100%
        width: 100%

    &__play
        position: absolute
        top: 40%
        left: -34px


/* features screen */

.features
    margin-bottom: 124px

    &__item
        width: 293px
        height: 198px
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1)
        border-radius: 8px
        position: relative
        background-color: $white
        z-index: 2
        margin-top: 220px

    &__heading
        width: 229px
        margin: 0 auto
        padding-top: 33px

    &__desc
        width: 229px
        margin: 20px auto 30px auto
        color: $black
        +rfs(12)

    &__image
        z-index: 1

    &__img
        position: absolute
        left: -14px
        right: 0
        top: 65px
        text-align: center
        width: 350px
        height: 250px







